
 html {
  scale: 1.2
 }

  body {
background: url(https://syntheticfruits.neocities.org/backgrounds/pinkcrsshrt.gif);
  margin: 0;
  image-rendering: pixelated;
  font-family: 'plushie', ms ui gothic, ms pgothic, sans-serif;
  cursor: url(https://www.rw-designer.com/cursor-view/159848.png), default;
position: center;
}
#stars2 {
  grid-area: main;
  margin-top: 0px;
  margin-left: 0px;
}
#statuscafe {
     grid-area: box1;
  BACKGROUND: #FFFCDD;
   border: 1px solid #EA2E83;
  height: 50px;
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  color: #FFC4D2;
  text-shadow: .5px .5px #ff8ee6, .5px 0px #ff80bf;
  font-weight: bold;
  line-height: 30px;
  font-size: 10px;
  font-display: left;
  letter-spacing: 1px;
  line-height: 15px;
  scroll-behavior: smooth;
  scrollbar-width: 1px;
  overflow-y: scroll;
}

#clock {
  grid-area: box1;
  width: 172px;
  height: 19px;
  BACKGROUND: #FFFCDD;
   border: 1px solid #EA2E83;
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  color: #FFC4D2;
  text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  align-content: center;
}


#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
    
}
#jewel {
  margin-left: -50px;
}
#van {
  margin-top: -75px;
  margin-left: -60px;
  transform: scale(.9)
}
#bow {
  grid-area: ban;
  margin-top: -340px;
  margin-left: 580px;
}
#count {
  grid-area: cred;
  margin-left: -100px;

}
#photoban {
  grid-area: top;
  width: 200px;
  float: top;
  margin-top: -10px;
  margin-left: -10px;
  position: absolute;
}
#drink {
  width: 50px;
  height: 85px;
  margin-top: 36px;
  margin-left: -10px;
  position: absolute;
}

#puppy {
height: 30px;
margin-top: 90px; 
margin-left: 140px;
position: absolute;
}

.click-box {
  position: absolute;
  display: inline-block;
  cursor: pointer;
}


.text-box {
  display: none;
  position: absolute;
  margin-left: 160px;
  margin-top: 50px;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/036/395/794/small/blue-sky-cloud-bubble-pixel-design-for-decoration-wheather-forcast-pixel-design-png.png);
  background-size: contain;
  font-display: center;
  color: #c774ff;
  background-repeat: no-repeat;
  padding: 10px;
  width: 50px;
  height: 45px;
  z-index: 10px;
}


input:checked + .clickable-img + .text-box {
  display: block;
}
.ads {
  grid-area: box1;
  background-image: url(https://syntheticfruits.neocities.org/gifs/skyscreen.gif);
  background-size: 100%;
    background-repeat: no-repeat;
    width: 90px;
    height: 140px;
    padding: 5px;
    padding-top: 25px;
    margin-left: 30px;
    margin-top: 26px;
   text-align: center;
   display: block; 
   overflow: hidden;
  cursor: pointer;
}
.slide {
  position: absolute;
  width: 84px;
  height: 61px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
   margin-top: -16px;
    margin-left: -42px;
}

.slide.active {
  opacity: 1;
}
::selection {
  background-color: #ffacdc95;
  color: #FFF2A8;
}
/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: 0px 0px 5px 0px #EA762380 inset;
  background-color: #ffd9ef;
  border: 1px solid #feffc6;
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(255,246,238);
background: linear-gradient(0deg, rgba(255,246,238,1) 0%, rgba(255,194,219,1) 7%, rgba(254,176,204,1) 22%, rgba(252,163,192,1) 32%, rgba(252,163,192,1) 33%, rgba(250,154,184,1) 51%, rgba(252,163,192,1) 69%, rgba(252,163,192,1) 71%, rgba(254,176,204,1) 78%, rgba(255,194,219,1) 93%, rgba(255,246,238,1) 100%);
  border-radius: 1px;
  border: 1px solid #EA2E83;
  box-shadow: 0px 0px 5px 0px rgba(255,255,255,1) inset;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(255,246,238);
background: linear-gradient(180deg, rgba(254,255,234,1) 0%, rgba(248,185,205,1) 7%, rgba(255,241,221,1) 22%, rgba(250,251,220,1) 32%, rgba(229,253,213,1) 41%, rgba(199,244,215,1) 54%, rgba(197,240,228,1) 62%, rgba(194,234,244,1) 74%, rgba(173,205,255,1) 87%, rgba(217,183,255,1) 94%, rgba(237,255,239,1) 100%);
  border-radius: 1px;
  border: 1px solid #EA2E83;
  box-shadow: 0px 0px 5px 0px rgba(255,255,255,1) inset;
}

.layout {
display: flex;
margin: 0rem;
  justify-content: center;
align-items: center;
  height: 95vh;
 
}

.grid {
  display: grid;
  grid-template-columns: 120px 95px 328px 175px;
  margin: auto;
  height: 34rem;
  width: 45rem;
  grid-template-rows: 120px 180px 180px 50px;
  gap: 0px 0px;
  grid-template-areas:
    "clock ban ban ban"
    "nav top top box1"
    "nav main main box2"
    "nav cred1 cred cred";
  gap: 5px 5px;
  padding: 5px;
}

.nav {
  grid-area: nav;
    height: 200px;
    width: 100px;
    overflow-y: scroll;
    border: 1px solid #ff73d0;
    background-image: url(https://syntheticfruits.neocities.org/backgrounds/checkerheart.gif);
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 5px;
    
}
.nav li {
  list-style-type: none;
    margin-bottom: 2px;

}
#navilist{
    font-size: 15px;
    text-transform: capitalize;
    color: #facfff;
    background-color: #ff80bf;
    box-shadow: 3px 3px #ff8aa7;
    border-radius: 5px 5px 4px 0px;
    padding: 2px;
    display: block;
    float: right;
    margin-bottom: 6px;
    text-decoration: none;
    letter-spacing: 0px;
    width: 80px;
}
.nav a#navilist:hover {
    text-shadow: 2px 1px #ffc3eb;
    background-color: #fff8be;
    color: #ff76cb;
    text-transform: uppercase;
    padding: 2px;
}

#navilist a:active {
    background-color: #fbaafb;
    position: relative;
    top: 2px;
    
}
#poll {
  grid-area: nav; 
  margin-top: 220px;
  margin-right: -100px;
  height: 200px;
  width: 120px;
  overflow-y: scroll;
   BACKGROUND: #FFFCDD;
   border: 1px solid #EA2E83;
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  color: #FFC4D2;
  text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  font-size: 10px;
  font-display: left;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.toto {
  margin-top: 3px;
}
.top {
  grid-area: top;
  BACKGROUND: #FFFCDD;
   border: 1px solid #EA2E83;
  height: 35px;
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  font-weight: bold;
  line-height: 30px;
  background-image: url(https://i.pinimg.com/originals/d0/e8/c0/d0e8c0f4517d4667e4946439ea78822c.gif);
  background-size: .5;
  
}
p {
  text-align: center; 
  margin-top: 5px;
}
.ban {
  grid-area: ban;
  box-shadow: 0px 0px 0px 1px #FFF8CC inset;
  border: 1px solid #EA2E83;
  height: 60%;
  position: relative;
top: 40%;
background: rgb(255,237,243);
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  color: #FFC4D2;
  text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  font-weight: bold;
  background-image: url(https://i.pinimg.com/originals/c5/e6/36/c5e636c24883e25ed61a5b44564b1447.gif);
  background-size: 100% 100%;
 
}
#glitterheart {
  grid-area: ban;
  margin-top: -80px;
  margin-left: -109px;
  transform: rotate(-40deg);
  width: 200px;
}
  
  


.box1 {
    grid-area: box1;
    padding-top: -3px;
    padding-left: 1px;
    position: relative;
    top: 0px;
}

.cred {
  grid-area: cred;
  border: 1px solid #EA2E83;
  background-color: #ffe1fb;
  background-image: url(https://pixelsafari.neocities.org/dividers/vine14.gif);
  background-position: bottom;
    color: #ff87d1;
  font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  height: 70%;
  line-height: 32px;
  text-align: center;
}

.main {
  grid-area: main;
  height: 323px;
  position: relative;
  overflow: hidden;
top: -145px;
   border: 1px solid #EA2E83;
  box-shadow: 0px 0px 0px 3px inset #ff8aa7, 0px 0px 0px 6px inset #ffd8e7, 0px 0px 0px 9px inset #fff9d8;
  background: #FFFCDD;
  color: #ff87d1;
  font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
}

.textbox {
margin: 10px;
  margin-right: 3px;
overflow: auto;
  overflow-x: hidden;
  height: 302px;
}

.box2 {
  grid-area: box2;
 border: 1px solid #EA2E83;
  background: #FFFCDD;
  background-image: url(https://i.ibb.co/tYXYj68/chek-2.gif);
  padding: 13px;
    color: #ff87d1;
    height: 80%; position: relative; font-family: plushie, ms ui gothic, ms pgothic, sans-serif; top: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.yay {
  width: 120px; 
  position: center;
  margin-left: 10.5px; 
   transition: box-shadow 0.5s ease-in-out;
  
}
.yay:hover {
		box-shadow: 0px 0px 20px 10px #fdbee8;
	}

.box3 {
  grid-area: cred;
 margin: 40px;
 margin-left: 0px
  
}

.infobox {
  grid-area: main;
    width: 350px;
    height: 250px;
    text-align: center;
    position: absolute;
    margin-top: -30px;
    margin-left:7%;
    overflow-y: scroll;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: rgba(250, 191, 235, 0.7);
    border: 1px solid #EA2E83;
  box-shadow: 0px 0px 0px 3px inset #ff8aa7, 0px 0px 0px 6px inset #ffd8e7, 0px 0px 0px 9px inset #fff9d8;
    display: block;
    z-index: 2;
    position: absolute;
}
span#surreal {
    font-family: "ModernDOS";
    color: #FFC4D2;
  text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: -25px;
    overflow-y: scroll;
}


img#flow {
    background-color: #fadffd;
    box-shadow: 1px #7386FF;
    border-radius: 10px;
    stroke-width: 10px;
     transform: scale(.5);
}

span#welcomeNote p{
    line-height: 20px;
}



#main {
    position: sticky;
}

.closeInfo {
    height: 20px;
    font-size: 19px;
    color: #FFC4D2;
    padding-left: 2px;
    text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
    background-color: rgb(245, 207, 240);
    box-shadow: #fdbee8 2px 2px;
    border: 1px solid rgb(247, 173, 255);
    width: 20px;
    border-radius: 25%;
    font-family: ModernDOS;
    float: right;
}

.welcome {
    width: 50%;
    height: 40px;
    padding: 0px;
    margin: 2% auto auto;
    text-align: center;
    background-image: url("https://pixelsafari.neocities.org/dividers/photobows.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2%;
}

.welcome img#flowerright {
    float: right;
    vertical-align: middle;
    margin-top: -6px;
    transform: scale(.7);
}

.welcome img#flowerleft {
    margin-top: -21px;
    float: left;
    transform: scale(.7);
    
    
}

.welcome span#welcome {
    vertical-align: middle;
}

img#close {
    background-color: rgb(247, 202, 225);
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    scale: 1.1;
    margin-left: 145px;
}

img#close:hover {
    background-color: rgb(220, 243, 255);
    scale: 1.3;
}
.closeInfo:hover {
    background-color: #ffe6f2; 
    color: #ff4d94; 
    cursor: pointer; 
    box-shadow: 0 0 5px #ffb6d9; 
}
.welcome h1 {
    font-family: "2Credits";
    font-size: 13px;
    color: #ffdff3;
    text-shadow: rgb(243, 153, 252) 1px 1px;
    margin: auto auto -10px 43px;
    text-decoration-color: rgb(255, 173, 214);
    text-underline-offset: 2px;
    padding: 10px 0% 0%;
}

.infobox p {
    background-color: rgba(254, 210, 255, 0.6);
    border-radius: 30px;
    border: 1px solid #fdbee8;
    padding: 4px 10px;
    margin: 10px auto;
    color: rgb(228, 83, 167);
    font-weight: bolder;
    line-height: 1.2;
    width: 300px;
    height: auto;
}
.diaryTitle {
    background-color: rgba(254, 210, 255, 0.6);
    border-radius: 30px;
    border: 1px solid #fdbee8;
    padding: 5px 12px;
    margin: 10px auto;
    color: rgb(228, 83, 167);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    width: fit-content;
    font-family: ModernDOS;
    height: 50px;
    margin-left: 15px;
   
}

.diaryText {
    font-size: 19px;
    color: white;
    text-shadow: 1px 1px #ff88ca;
     font-style: italic;
}

.soft {
    font-style: italic;
}

img.emote {
    transform: scale(1);
}

img.flower {
    transform: scale(0.5);
    margin-left: 7px;
}

span#Est {
    font-size: 8px;
}

span#flow {
    font-family: ModernDOS;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 136, 202) 1px 1px;
    vertical-align: middle;
    margin-bottom: -5px;
}

img#emoteleft {
    vertical-align: middle;
    transform: scale(.5);
}

img#emoteright {
    vertical-align: middle;
    transform: scale(.5);
}
img#poopoo {
  transform: scale(.5);
}
#messageBox {
  position: relative;
  background-size: cover;
  width: 400px;
  height: 300px;
  padding-top: 26px; 
  box-sizing: border-box;
  filter: none;
  transition: filter 0.3s ease;
}

.messageBoxBack {
    background-image: url('https://i6.glitter-graphics.org/pub/664/664396rcnoxvlnn5.gif');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px); 
  height: calc(100% - 10px);
    z-index: 1;
}
.messageBoxBack.blurred {
  filter: blur(4px);
}
a {
color: #ffa0ff;
}

a:visited {
color: #f8c2ec;
}

a.nav {
color: #FFFCDD !important;
  text-decoration: none;
 position: relative;
top: 0px;
}

/* About Me */

