
 
  body {
background: url(https://syntheticfruits.neocities.org/backgrounds/pinkcrsshrt.gif);
  
  margin: 0;
  image-rendering: pixelated;
  font-family: 'plushie', ms ui gothic, ms pgothic, sans-serif;
  
}
#stars2 {
  grid-area: main;
  margin-top: 0px;
  margin-left: 0px;
}
#statuscafe {
     grid-area: box1;
  BACKGROUND: #FFFCDD;
   border: 1px solid #EA2E83;
  height: 50px;
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  color: #FFC4D2;
  text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  font-weight: bold;
  line-height: 30px;
  font-size: 10px;
  font-display: left;
  letter-spacing: 1px;
  line-height: 15px;
  scroll-behavior: smooth;
  scrollbar-width: 1px;
  overflow-y: scroll;
}

#clock {
  grid-area: box1;
  width: 172px;
  height: 19px;
  BACKGROUND: #FFFCDD;
   border: 1px solid #EA2E83;
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  color: #FFC4D2;
  text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  align-content: center;
}
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
    
}
#jewel {
  margin-left: -120px;
}
::selection {
  background-color: #ffacdc95;
  color: #FFF2A8;
}
/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: 0px 0px 5px 0px #EA762380 inset;
  background-color: #ffd9ef;
  border: 1px solid #feffc6;
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(255,246,238);
background: linear-gradient(0deg, rgba(255,246,238,1) 0%, rgba(255,194,219,1) 7%, rgba(254,176,204,1) 22%, rgba(252,163,192,1) 32%, rgba(252,163,192,1) 33%, rgba(250,154,184,1) 51%, rgba(252,163,192,1) 69%, rgba(252,163,192,1) 71%, rgba(254,176,204,1) 78%, rgba(255,194,219,1) 93%, rgba(255,246,238,1) 100%);
  border-radius: 1px;
  border: 1px solid #EA2E83;
  box-shadow: 0px 0px 5px 0px rgba(255,255,255,1) inset;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(255,246,238);
background: linear-gradient(180deg, rgba(254,255,234,1) 0%, rgba(248,185,205,1) 7%, rgba(255,241,221,1) 22%, rgba(250,251,220,1) 32%, rgba(229,253,213,1) 41%, rgba(199,244,215,1) 54%, rgba(197,240,228,1) 62%, rgba(194,234,244,1) 74%, rgba(173,205,255,1) 87%, rgba(217,183,255,1) 94%, rgba(237,255,239,1) 100%);
  border-radius: 1px;
  border: 1px solid #EA2E83;
  box-shadow: 0px 0px 5px 0px rgba(255,255,255,1) inset;
}

.layout {
display: flex;
margin: 0rem;
  justify-content: center;
align-items: center;
  height: 95vh;
}

.grid {
  display: grid;
  grid-template-columns: 120px 95px 328px 175px;
  margin: auto;
  height: 34rem;
  width: 45rem;
  grid-template-rows: 120px 180px 180px 50px;
  gap: 0px 0px;
  grid-template-areas:
    "clock ban ban ban"
    "nav top top box1"
    "nav main main box2"
    "nav cred1 cred cred";
  gap: 5px 5px;
  padding: 5px;
}

.nav {
  grid-area: nav;
  position: relative;
top: -3px;
}

.top {
  grid-area: top;
  BACKGROUND: #FFFCDD;
   border: 1px solid #EA2E83;
  height: 35px;
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  color: #FFC4D2;
  text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  font-weight: bold;
  line-height: 30px;
}

.ban {
  grid-area: ban;
  box-shadow: 0px 0px 0px 1px #FFF8CC inset;
  border: 1px solid #EA2E83;
  height: 60%;
  position: relative;
top: 40%;
background: rgb(255,237,243);
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  color: #FFC4D2;
  text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  font-weight: bold;
  background-image: url(https://syntheticfruits.neocities.org/backgrounds/pinkbg.gif);
  background-position-x: center; 
  background-position-y: 130px;
}
#glitterheart {
  grid-area: ban;
  margin-top: -80px;
  margin-left: -109px;
  transform: rotate(-40deg);
  width: 200px;
}
  
  


.box1 {
    grid-area: box1;
    padding-top: -3px;
    padding-left: 1px;
    position: relative;
    top: 0px;
}

.cred {
  grid-area: cred;
  border: 1px solid #EA2E83;
  box-shadow: 0px 0px 0px 3px inset #FFB9CA, 0px 0px 0px 6px inset #FFF2A8;
  background: #FFFCDD;
    color: #ff87d1;
  font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  height: 70%;
  line-height: 32px;
  text-align: center;
}

.main {
  grid-area: main;
  height: 323px;
  position: relative;
  overflow: hidden;
top: -145px;
   border: 1px solid #EA2E83;
  box-shadow: 0px 0px 0px 3px inset #ff8aa7, 0px 0px 0px 6px inset #ffd8e7, 0px 0px 0px 9px inset #fff9d8;
  background: #FFFCDD;
  color: #ff87d1;
  font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
}

.textbox {
margin: 10px;
  margin-right: 3px;
overflow: auto;
  overflow-x: hidden;
  height: 302px;
}

.box2 {
  grid-area: box2;
 border: 1px solid #EA2E83;
  background: #FFFCDD;
  padding: 13px;
    color: #ff87d1;
    height: 80%; position: relative; font-family: plushie, ms ui gothic, ms pgothic, sans-serif; top: 8px;
}
.box3 {
  grid-area: cred;
 margin: 40px;
 margin-left: 0px
  
}
.top1 {
text-align: center;
background: rgb(247,136,163);
  color: #FFFCDD;
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  font-weight: bold;
    text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  height: 40px;
  line-height: 37px;
  box-shadow: 0px 0px 0px 1px #FFF8CC inset;
border: 1px solid #ff5395;
border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.yellow {
background: rgb(254,227,135);
    color: #FFFCDD;
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  height: 33px;
  line-height: 30px;
 box-shadow: 0px 0px 0px 1px #FFF8CC inset;
border: 1px solid #ff5395;
    border-top: transparent 1px solid;
  text-align: center;
}



.pink {
background: rgb(255, 202, 239);
    color: #FFFCDD;
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  height: 33px;
  line-height: 30px;
  box-shadow: 0px 0px 0px 1px #FFF8CC inset;
  border: 1px solid #ff5395;
    border-top: transparent 1px solid;
  text-align: center;
}

.bottom1 {
text-align: center;
background: rgb(247,136,163);
  color: #FFFCDD;
font-family: plushie, ms ui gothic, ms pgothic, sans-serif;
  font-weight: bold;
 text-shadow: 1px 1px #ff8ee6, 1px 0px #ff80bf;
  height: 40px;
  line-height: 37px;
  box-shadow: 0px 0px 0px 1px #FFF8CC inset;
   border: 1px solid #ff5395;
border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top: transparent;
}


a {
color: #ffa0ff;
}

a:visited {
color: #f8c2ec;
}

a.nav {
color: #FFFCDD !important;
  text-decoration: none;
 position: relative;
top: 0px;
}
